// Color VARS

$color-light-red   : #fc5c65 !default;
$color-light-orange: #fd9644 !default;
$color-light-yellow: #fed330 !default;
$color-light-green : #26de81 !default;
$color-light-teal  : #2bcbba !default;
$color-light-cyan  : #45aaf2 !default;
$color-light-blue  : #4b7bec !default;
$color-light-purple: #a55eea !default;

$color-dark-red   : #eb3b5a !default;
$color-dark-orange: #fa8231 !default;
$color-dark-yellow: #f7b731 !default;
$color-dark-green : #20bf6b !default;
$color-dark-teal  : #0fb9b1 !default;
$color-dark-cyan  : #2d98da !default;
$color-dark-blue  : #3867d6 !default;
$color-dark-purple: #8854d0 !default;

$color-light-white: #ffffff !default;
$color-dark-white : #f1f2f6 !default;
$color-light-grey : #a4b0be !default;
$color-dark-grey  : #57606f !default;
$color-light-black: #2f3542 !default;
$color-dark-black : #212121 !default;
