// Fonts VARS

$font-regular-default-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !default;
$font-mono-default-stack: source-code-pro, Menlo, Monaco, Consolas,
  'Courier New', monospace !default;

$font-regular: 'Lato', $font-regular-default-stack !default;
$font-title: 'Oswald', $font-regular-default-stack !default;
$font-mono: 'Fira Mono', $font-mono-default-stack !default;
