@import './vars/colors.scss';
@import './vars/fonts.scss';

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;

  font-family: $font-regular !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: block;
  box-sizing: border-box;
  background-color: $color-dark-white !important;
  height: 100vh;
  overflow: hidden;

  > #root {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::selection {
  background-color: $color-dark-green !important;
  color: $color-light-white !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
}

code {
  font-family: $font-mono;
}
